thesis.pdf
thesis-*.pdf
thesis.out
summary/summary-english.pdf
*-converted-to.pdf
*.log
*.toc
*.run.xml
*.ind
*.ilg
*.fls
*.fdb_latexmk
*.aux
*.idx
*.bbl
*.bcf
*.blg
*.lof
*.maf
*.mt*

bench/results/
bench/plots/
bench/stats
