*.aux
*.dvi
*.log
*.pdf
*.out
*.snm
*.toc
*.vrb
*.nav
*/auto
version.texi
texinfo.tex
stamp-vti
taler-exchange.info
mdate-sh
taler-exchange.vr
taler-exchange.tp
taler-exchange.toc
taler-exchange.pg
taler-exchange.pdf
taler-exchange.log
taler-exchange.ky
taler-exchange.info
taler-exchange.html
taler-exchange.fn
taler-exchange.cp
taler-exchange.auxtaler-exchange.cps
