Source: taler-exchange
Section: net
Priority: optional
Maintainer: Christian Grothoff <grothoff@gnu.org>
Build-Depends:
 autoconf (>=2.59),
 automake (>=1.11.1),
 autopoint,
 debhelper-compat (= 13),
 gettext,
 libgnunet-dev,
 libcurl4-gnutls-dev (>=7.35.0),
 libgcrypt20-dev (>=1.6),
 libgnutls28-dev (>=3.2.12),
 libidn2-dev,
 libjansson-dev,
 libltdl-dev (>=2.2),
 libmicrohttpd-dev (>=0.9.63),
 libpq-dev (>=9.5),
 libsodium-dev (>=1.0.11),
 libsqlite3-dev (>=3.8),
 libunistring-dev (>=0.9.2),
 python3-jinja2,
 net-tools,
 po-debconf,
 python3-dev,
 texinfo (>=5.2),
 zlib1g-dev
Build-Conflicts:
 autoconf2.13,
 automake1.4
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/debian/taler-exchange.git
Vcs-browser: https://salsa.debian.org/debian/taler-exchange
Homepage: https://taler.net/

Package: libtalerexchange
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 netbase,
 ${misc:Depends},
 ${shlibs:Depends}
Description: libraries to talk to a GNU Taler exchange.

Package: taler-exchange
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (= ${binary:Version}),
 adduser,
 lsb-base,
 netbase,
 dbconfig-pgsql | dbconfig-no-thanks,
 ${misc:Depends},
 ${shlibs:Depends}
Description: GNU's payment system operator.

Package: taler-auditor
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (= ${binary:Version}),
 adduser,
 lsb-base,
 netbase,
 dbconfig-pgsql | dbconfig-no-thanks,
 python3-jinja2,
 ${misc:Depends},
 ${shlibs:Depends}
Description: GNU's payment system auditor.

Package: libtalerexchange-dev
Section: libdevel
Architecture: any
Depends:
 libtalerexchange (= ${binary:Version}),
 libgnunet-dev (>=0.14.0),
 libgcrypt20-dev (>=1.6),
 libmicrohttpd-dev (>=0.9.33),
 ${misc:Depends}
Description: libraries to talk to a GNU Taler exchange (development)
 .
 This package contains the development files.
