#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input low taler-exchange/eusername || true
db_go

db_input low taler-exchange/rsecusername || true
db_go

db_input low taler-exchange/esecusername || true
db_go

db_input low taler-exchange/wireusername || true
db_go

db_input low taler-exchange/aggrusername || true
db_go

db_input low taler-exchange/groupname || true
db_go

db_stop
